{% extends "layout.html" %}

{% set title="About" %}

{% block main %}
<h2>About</h2>
<hr />
<p>
	Paulo Verde Technologies is an Arizona-based company that provides custom computer programming and technical solutions. We specialize in application and web development, especially with C/C++, Java, and Node.js. For more information about the services we offer, please see <a href="/services.html">pauloverde.com/<wbr/>services.html</a>.
</p>
<p>
	One project we have worked on in the past is <a href="http://www.csgogamble.com" rel="nofollow">csgogamble.com</a>, for which we designed the distributed server back-end, including database incorporation and real-time server-browser communication.
</p>
<p>
	We are always looking to take on new challenges and work on interesting projects. Please email us at <a href="mailto:contact@pauloverde.com">contact@<wbr/>pauloverde.com</a> for assistance developing or extending a project of your own.
</p>
{% endblock %}
