{% extends "layout.html" %}

{% set title="Contact" %}

{% block main %}
<h2>Contact</h2>
<hr />
<p>
	For any business inquiries or general questions, please email us at <a href="mailto:contact@pauloverde.com">contact@<wbr/>pauloverde.com</a>.
</p>
<p>
	You can also find us on GitHub at <a href="https://github.com/pauloverde">github.com/<wbr/>pauloverde</a>.
</p>
{% endblock %}
