{% extends "layout.html" %}

{% set title="Home" %}

{% block head %}
{{ super() }}
<meta name="google-site-verification" content="lKUBOmC0SUitzMl_2AOPZzL3J4wIJ371uSTGwEgvy8Y" />
{% endblock %}

{% block main %}
<img id="card" src="/images/card.png" alt="Paulo Verde Tech" />
<h2>Home</h2>
<hr />
<p>
	Welcome to the homepage of Paulo Verde Technologies, a company specializing in custom computer programming.
</p>
<p>
	For more information about our many services, see <a href="/services.html">pauloverde.com/<wbr/>services.html</a>.
</p>
<p>
	To learn more about our company, see <a href="/about.html">pauloverde.com/<wbr/>about.html</a>.
</p>
<p>
	Please email us at <a href="mailto:contact@pauloverde.com">contact@<wbr/>pauloverde.com</a> for any business inquiries or general questions.
</p>
{% endblock %}
