{% extends "layout.html" %}

{% set title="Services" %}

{% block main %}
<h2>Services</h2>
<hr />
<p>
	Paulo Verde Technologies offers a wide variety of computer-based services, examples of which are listed below:
</p>
<dl>
	<dt>Web Development</dt>
	<dd>Creation of distributed server back-ends with Node.js, including database incorporation, load balancing, and real-time WebSocket communication.</dd>
	<dt>Application Development</dt>
	<dd>C/C++ and Java applications for custom tasks and purposes.</dd>
</dl>
<p>
	For more information about our services listed here or others, please email us at <a href="mailto:contact@pauloverde.com">contact@<wbr/>pauloverde.com</a>.
</p>
{% endblock %}
